<a class="button" routerLink="/pageone" >one</a>
<a class="button" routerLink="/pagetwo" >two</a>
<a class="button" routerLink="/pagethree" > three</a>
<a class="button" routerLink="/pagefour" > four</a>
<a class="button" routerLink="/pagefive" >five</a>
<a class="button" routerLink="/pagesix" > six</a>
<a class="button" routerLink="/pageseven" > seven</a>
<a class="button" routerLink="/pageeight" > eight</a>
<a class="button" routerLink="/pagenine" > nine</a>
<a class="button" routerLink="/pageten" > ten</a>
<a class="button" routerLink="/pageeleven" > eleven</a>
<a class="button" routerLink="/pagetwelve" > twelve</a>
<a class="button" routerLink="/pagethirteen" > thirteen</a>
<a class="button" routerLink="/pagefourteen" >fourteen</a>
<a class="button" routerLink="/pagefifteen" >fifteen</a>
<a class="button" routerLink="/pagesixteen" >sixteen</a>
<a class="button" routerLink="/pageseventeen" > seventeen</a>
<a class="button" routerLink="/pageeighteen" > eighteen</a>
<a class="button" routerLink="/pagenineteen" >nineteen</a>
<a class="button" routerLink="/pagetwenty" > twenty</a>
<a class="button" routerLink="/pagetwentyone" > twentyone</a>
<a class="button" routerLink="/pagetwentytwo" > twentytwo</a>
<a class="button" routerLink="/pagetwentythree" > twentythree</a>
<a class="button" routerLink="/pagetwentyfour" > twentyfour</a>
<a class="button" routerLink="/pagetwentyfive" > twentyfive</a>
<a class="button" routerLink="/pagetwentysix" > twentysix</a>
<a class="button" routerLink="/pagetwentyseven" > twentyseven</a>
<a class="button" routerLink="/pagetwentyeight" >twentyeight</a>
<a class="button" routerLink="/pagetwentynine" > twentynine</a>
<a class="button" routerLink="/pagethirty" >thirty</a>