<h2>Directives-ngIf</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <input class="form-control" [(ngModel)]="serverName" />
      <button class="btn btn-primary" (click)="onCreateServer()">click</button>
      <p *ngIf="serverCreated; else noServer">{{ serverName }}</p>
      <ng-template #noServer>
        <p>No server</p>
      </ng-template>
    </div>
    <div class="col-3">
      <h2>ngStyle</h2>
      <p *ngFor = "let server of servers"
        [ngStyle]="{ backgroundColor: getColor() }"
        [ngClass]="{ online: serverStatus === 'online' }"
      >

        {{ "Server" }} with ID {{ serverId }} is {{ getServerStatus() }}

       {{ "Server" }} with ID {{ serverIdd }} is {{ getServerStatus() }}

      </p>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>
</div>
